<!--
    JS and CSS loaded in /scripts/wiki-nav.js
 -->

<div id="__nav__mover__"></div>
<div
    id="navigation"
    :style="{left: leftPos, cursor: (show ? 'initial' : 'pointer')}"
    style="opacity: 0"
    @click="triggerMenuFull"
>
    <div class="headerMenu">
        <div
            class="toggleMenu"
            @click="showMenu"
            :style="{transform: 'rotate(' + (show ? 180 : 0) + 'deg)', right: (show ? '15px' : '-22px')}"
        >
            <i data-feather="chevron-right"></i>
        </div>
        <a class="igemLogo" :href="window.ROOT_URL">
            <img :src="window.LINKS.logoTeamIonis.url" alt="iGem Ionis Logo" class="igemLogoImg" />
        </a>
    </div>
    <nav>
        <li v-for="(groupNav, index1) in menu" :key="groupNav.index" class="itemNav">
            <a v-if="groupNav.link" :class="'navTextLink' + (active[index1] ? ' active' : '')" :href="groupNav.link"
                >{{groupNav.title}}</a
            >
            <div v-else>
                <div class="itemNavFlex" @click="toggleMenu(groupNav.index)">
                    <div class="itemNavText">{{groupNav.title}}</div>
                    <div :style="getRotation(groupNav.index)" class="iconNavChevronContainer">
                        <i data-feather="chevron-down" class="iconNavChevron"></i>
                    </div>
                </div>

                <div v-if="openedMenu[groupNav.index] && groupNav.childrens" class="navContent">
                    <a
                        v-for="(subNavItem, index2) in groupNav.childrens"
                        :key="subNavItem.title"
                        :class="'navSubItemsList' + (active[index1][index2] ? ' active' : '')"
                        :href="subNavItem.link"
                    >
                        {{subNavItem.title}}
                    </a>
                </div>
            </div>
        </li>
    </nav>
    <div class="socials">
        <a href="">
            <i data-feather="facebook" class="iconNavChevron"></i>
        </a>
        <a href="">
            <i data-feather="linkedin" class="iconNavChevron"></i>
        </a>
        <a href="">
            <i data-feather="instagram" class="iconNavChevron"></i>
        </a>
    </div>
</div>
