#footer {
    background-color: #8d1f24;
    padding: 70px 0;
    color: white;
}

#footer .Ionis {
    margin: 0px 0px 30px 0px;
}

#footer .IonisTitle {
    font-weight: 800;
    color: #fff;
    line-height: 1.2;
    font-size: 18px;
}

#footer .IonisText {
    font-size: 15px;
    padding: 30px 0 0 0;
    color: rgba(255, 255, 255, 0.7);
}

#footer .IonisInfo {
    font-size: 15px;
    padding: 20px 0px;
    color: rgba(255, 255, 255, 0.7);
}

#footer .Sponsors {
    margin: 0 0 30px 0;
}

#footer .SponsorsList {
    margin: 30px 0 0 0;
}

#footer .SponsorsTitle {
    font-weight: 800;
    color: #fff;
    line-height: 1.2;
    font-size: 18px;
}

#footer .SponsorsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

#footer .SponsorsList img {
    height: 50px;
}

#footer .SponsorsList img.big {
    height: 80px;
}
